# --- SEGURIDAD CRÍTICA ---
.env
src/api/config.local.php
temp_certbot/
certbot/
/etc/letsencrypt/
*.pem
*.key

# --- PERSISTENCIA DE DATOS (DOCKER) ---
db_data/
ldap_data/
ldap_config/
redis_data/
ollama_data/
grafana_data/

# --- LOGS Y TEMPORALES ---
*.log
snort_logs/
mail_logs/
logs/
.version_counter
.DS_Store
node_modules/

# --- ARCHIVOS DE SISTEMA ---
.lock
/tmp/
